<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
    <% @person.phones.each do |phone| %>
        <%= link_to phone.number, phone %> </br>
    <% end %>

</p>

<p>
    <% @person.addresses.each do |address| %>
        <%= link_to address, address %> </br>
    <% end %>

</p>

<p>
    <% @person.emails.each do |email| %>
        <%= link_to email, email %> </br>
    <% end %>

</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
