<h1> Listing addresses </h1>
<p>
    <em> Number of addresses: </em>
    <%= @addresses.count %>
</p>

<table>
    <tr>
        <th>Street</th>
        <th>Number</th>
        <th>Postcode</th>
        <th>City</th>
        <th>Destination</th>
        <th>Number of People</th>
    </tr>

    <% @addresses.each do |address| %>
        <tr>       
            <td> <%=  address.street.humanize %> </td>
            <td> <%=  address.number %> </td>
            <td> <%=  address.postcode %> </td>
            <td> <%=  address.city %> </td>
            <td> <%=  address.destination %> </td>
            <td> <%=  address.people.count %> </td>
            <td><%= link_to 'Show', address %></td>
            <td><%= link_to 'Edit', edit_address_path(address) %></td>
            <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>
<p> <%= link_to 'New Address', new_address_path%></p>
