<h2> List of addresses </h2>
<p>
    <em> Number of addresses: </em>
    <%= @addresses.count %>
</p>

<table>
    <tr>
        <th>Name</th>
        <th>Destination</th>
        <th>Street</th>
        <th>Number</th>
        <th>Postcode</th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>

    <% @addresses.each do |address| %>
        <tr>
            <td> <%= link_to address.person.name, person_path(address.person_id) %> </td>
            <td> <%=  address.destination %> </td>
            <td> <%=  address.street %> </td>
            <td> <%=  address.number %> </td>
            <td> <%=  address.postcode %> </td>
            <td><%= link_to 'Show', address %></td>
            <td><%= link_to 'Edit', edit_address_path(address) %></td>
            <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>
<p> <%= link_to 'New', new_address_path%></p>
