
<p>
  <b>Address:</b>
  <%= @address.street %>
  <%= @address.number %>
  <%= @address.postcode %>
  <%= @address.city %>
  <%= @address.destination %>

 </p>

<p>
    <%= @address.people.count %> inhabitants </br>
    <% @address.people.each do |person| %>
        <%= link_to person, person %> </br>
    <% end %>

</p>

<p><%= link_to 'Addresses', addresses_path%> </p>

