<!DOCTYPE html>
<html>
<head>
  <title>Catalog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
     <div class="navi">
    <%= link_to 'people', people_path %>
    <%= link_to 'phones', phones_path %>
    <%= link_to 'addresses', addresses_path %>
    <%= link_to 'add address to a person', new_inhabitant_path %>
    <%= link_to 'emails', emails_path %>
    
    <% if not current_user.nil? %>
          <%= link_to current_user.username.titleize, current_user %> 
          <%=link_to 'create a user', new_user_path %>
          <%=link_to 'list users', users_path %>
          <%=link_to 'signout', signout_path %>
        <% else %>
          <%=link_to 'signin', signin_path %>
          <%=link_to 'register', register_path %>
          
        <% end %>
  </div>
  <p id="notice"><%= notice %></p>  
<%= yield %>

</body>
</html>
